streamlit==1.35.0
pandapower==2.13.1
pandas==2.2.2
numpy==1.26.4
matplotlib==3.8.4
plotly==5.22.0
scipy==1.13.0
networkx==3.2.1
packaging==24.0
pypower==5.1.16
xlrd==2.0.1
openpyxl==3.1.2
requests==2.31.0
python-dotenv==1.0.1

